.reply {
  display: inline-block;
  border-radius: var(--border-radius-small);
  background-color: var(--color-element-transparent);
  padding: 2px 5px;
  font-size: var(--font-size-small);
  border-left: 3px solid var(--color-element);

  &__author {
    font-weight: var(--font-weight-bold);
  }
}
