.close {
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--color-line);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-line-hover);
  }
}
