.input {
  width: 100%;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--color-text-base);
  border: 1px solid var(--color-element);
  border-radius: var(--border-radius-small);
  outline: none;
}
