.input {
    padding: 5px 10px;
    text-decoration: none;
    color: var(--color-black);
    border-radius: 5px;
    border: 1px solid var(--color-palette-dark);
    outline: none;
    width: 100%;
}
