.article {
  background-color: var(--color-block);
  border-radius: var(--border-radius-large);
  width: 400px;
  min-width: 400px;

  &__banner {
    position: relative;
    max-height: 300px;
    height: 100%;
    width: 100%;
    background-color: gray;
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);
    position: relative;

    &__background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, 
            rgba(0,0,0,1) 0%,
            rgba(0,0,0,0.7) 25%,
            rgba(0,0,0,0.3) 50%,
            rgba(0,0,0,0) 100%
        );
        pointer-events: none;
    }
  }

  &__title {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: var(--font-size-accent);
    color: #fff;
  }

  &__content {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__author {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__created {
        font-size: var(--font-size-small);
        color: var(--color-text-transparent);
    }
  }
}