.article {
  background-color: var(--color-block);
  border-radius: var(--border-radius-large);
  width: 100%;
  min-width: 330px;

  &__banner {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: gray;
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);
    position: relative;
    user-select: none;

    &__background {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.7) 25%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      pointer-events: none;
    }
  }

  &__title {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: var(--font-size-accent);
    color: #fff;
  }

  &__content {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__author {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &__created {
      font-size: var(--font-size-small);
      color: var(--color-text-transparent);
    }

    &__controls {
      display: flex;
      gap: 5px;
    }
  }

  &__comments {
    display: flex;
    flex-direction: column;

    &_no {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-text-transparent);
      border-top: 1px solid var(--color-line);
      padding-top: 10px;
    }
  }

  &__reply {
    display: inline-flex;
    margin-left: 10px;
    margin-top: 10px;
  }

  &__send {
    border: 1px solid var(--color-line);
    border-radius: var(--border-radius-small);
    margin: 5px 10px 10px 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    max-height: 400px;
    height: auto;

    &__textarea {
      width: 100%;
      border: none;
      outline: none;
      border-radius: var(--border-radius-large);
      resize: none;
    }

    &__controls {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 5px;
    }
  }
}
