.aButtonSecondary {
  padding: 5px 10px;
  background-color: var(--color-element);
  text-decoration: none;
  color: var(--color-text-link);
  border-radius: 5px;
  border: 1px solid var(--color-element);
  display: inline-flex;
  justify-content: center;

  &:hover {
    background-color: var(--color-element-hover);
    border-color: var(--color-element-hover);
  }

  &_danger {
    background-color: var(--color-danger);
    color: #fff;

    &:hover {
      background-color: var(--color-danger-hover);
      color: #fff;
    }
  }
}
