.modal {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 300px;
      width: 100%;
    }

    &__error {
      color: var(--color-danger);
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
