.header {
  background-color: var(--color-block);
  border-bottom-left-radius: var(--border-radius-large);
  border-bottom-right-radius: var(--border-radius-large);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  height: 70px;

  &__logo {
    max-width: 200px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
}
