.reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--color-line);

  &__content {
    display: flex;
    gap: 10px;
  }
}
