.content {
  display: flex;
  gap: 20px;
  margin: 20px 0;

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    @media (max-width: 700px) {
      &__title {
        margin-left: 10px;
      }
    }
  }
}
