.comment {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-line);

  &__content {
    &__header {
      display: flex;
      align-items: center;
      gap: 10px;

      &__created {
        font-size: var(--font-size-small);
        color: var(--color-text-transparent);
      }

      @media (max-width: 430px) {
        gap: 5px;
      }
    }

    &__text {
      margin-top: 10px;
    }
  }

  &__controls {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
}
