.comment {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-line);

  &__content {
    &__header {
      display: flex;
      align-items: center;
      gap: 10px;

      &__created {
        font-size: var(--font-size-small);
        color: var(--color-text-transparent);
      }

      &__reply {
        align-self: flex-start;
        position: relative;
      }

      &__dropdown {
        border: 1px solid var(--color-line);
        display: flex;
        gap: 5px;
        flex-direction: column;
      }

      @media (max-width: 450px) {
        &__created {
          margin-left: 10px;
        }
      }
    }
  }

  &__controls {
    display: flex;
    gap: 10px;

    @media (max-width: 450px) {
      & {
        flex-direction: column;
        gap: 0px;
      }
    }
  }
}
