.header {
  display: flex;
  justify-content: space-between;
}

.header__avatar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.header__avatar b {
  font-size: var(--font-size-title);
}

.header__avatar p {
  color: var(--color-text-transparent);
}

.header__controls {
  display: flex;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blocks__comments {
  flex-grow: 1;
  min-width: 300px;

  h2 {
    font-size: var(--font-size-accent);
  }
}

.blocks__reactions {
  flex-grow: 1;
  min-width: 300px;

  h2 {
    font-size: var(--font-size-accent);
  }
}
