.content {
  display: flex;
  gap: 20px;
  margin: 20px 0;

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    @media (max-width: 700px) {
      &__title {
        margin-left: 10px;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-block);
  border-radius: var(--border-radius-large);
  padding: 10px;
}

.header__avatar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.header__avatar b {
  font-size: var(--font-size-title);
}

.header__avatar p {
  color: var(--color-text-transparent);
}

.header__controls {
  display: flex;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blocks__comments {
  flex-grow: 1;
  min-width: 300px;
  background-color: var(--color-block);
  border-radius: var(--border-radius-large);
  padding: 10px;
}

.blocks__reactions {
  flex-grow: 1;
  min-width: 300px;
  background-color: var(--color-block);
  border-radius: var(--border-radius-large);
  padding: 10px;
}
