.alert_block {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  z-index: 1000;
}

.alert {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #fe5d5d;
  background-color: rgb(255, 201, 201);
  padding: 20px;
}

.alert > img {
  width: 40px;
}

.alert > p {
  color: #000;
}
