.content {
  display: flex;
  gap: 20px;
  margin: 20px 0;

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    @media (max-width: 700px) {
      &__title {
        margin-left: 10px;
      }
    }
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  background-color: var(--color-block);
  border-radius: var(--border-radius-large);
  padding: 10px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
      border-radius: 50%;
      max-width: 200px;
      max-height: 200px;
    }

    &__name {
      display: flex;
      align-items: center;
      gap: 10px;

      b {
        font-size: var(--font-size-accent);
      }

      button {
        background-color: var(--color-background);
        border-radius: var(--border-radius-small);
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__controls {
    max-width: 500px;
    width: 100%;

    &__control {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
