.settings {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
      border-radius: 50%;
      max-width: 200px;
      max-height: 200px;
    }

    &__name {
      display: flex;
      align-items: center;
      gap: 10px;

      b {
        font-size: var(--font-size-accent);
      }

      button {
        background-color: var(--color-background);
        border-radius: var(--border-radius-small);
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__controls {
    max-width: 500px;
    width: 100%;

    &__control {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
