.burgerMenu {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  cursor: pointer;

  span {
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--color-element);
  }

  &_open {
    gap: 0px;
    justify-content: center;
    align-items: center;

    span:first-child {
      rotate: -45deg;
    }
    span:nth-child(2) {
      display: none;
    }
    span:last-child {
      rotate: 45deg;
      position: relative;
      bottom: 2px;
    }
  }
}
