@font-face {
    font-family: 'Moderustic';
    src: url('./../fonts/Moderustic-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moderustic';
    src: url('./../fonts/Moderustic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moderustic';
    src: url('./../fonts/Moderustic-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url('./../fonts/MontserratAlternates-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// --color-palette-light: #dae4e5;
// --color-palette-light-middle: #94c0c2;
// --color-palette-middle: #69a4a2;
// --color-palette-dark-middle: #296e6b;
// --color-palette-dark: #2b4a4a;

:root {
    // Черно-белые
    --color-white: #ffffff;
    --color-light: #ececec;
    --color-dark: #4d4d4d;
    --color-black: #000000;
    --color-gray: rgb(149, 149, 149);
    --color-transparent: rgba(255, 255, 255, 0.27);
    // Палитра цветов
    --color-palette-light: #dae4e5;
    --color-palette-light-middle: rgb(218, 218, 218);
    --color-palette-middle: #69a4a2;
    --color-palette-dark-middle: #296e6b;
    --color-palette-dark: #2b4a4a;
    // Общие цвета
    --color-danger: rgb(171, 60, 60);
    --color-danger-hover: rgb(133, 45, 45);

    // Цвета элементов
    --color-background: var(--color-light);
    
    // Шрифты
    --font-family-base: 'Moderustic', sans-serif;
    --font-family-accent: 'MontserratAlternates', sans-serif;

    // Размер шрифтов
    --font-size-title: clamp(24px, 2.5rem, 64px);
    --font-size-accent: clamp(16px, 1.3rem, 32px);
    --font-size-text: clamp(14px, 1rem, 24px);

    // Размеры контейнера
    --container-width: 1300px;
    --container-padding-x: 15px;
    
    // Другие параметры
    --transition-duration: 0.2s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-black);
    background-color: var(--color-light);
    transition: var(--transition-duration);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-accent);
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: var(--font-size-title);
}

p {
    margin: 0;
}

a, button, input, textarea, svg * {
    transition: var(--transition-duration);
}

a {
    color: var(--color-black);
    text-decoration: none;
}

a:hover {
    color: var(--color-dark-gray);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-width {
    width: 100%;
}