.buttonSecondary {
  padding: 5px 10px;
  background-color: transparent;
  text-decoration: none;
  color: var(--color-text-link);
  border-radius: 5px;
  border: 1px solid var(--color-element);
  display: inline-flex;
  justify-content: center;

  &:hover {
    border-color: var(--color-element-hover);
    color: var(--color-text-link-hover);
  }

  &_danger {
    background-color: var(--color-danger);
    color: #fff;

    &:hover {
      background-color: var(--color-danger-hover);
      color: #fff;
    }
  }

  &_circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  &_disabled {
    opacity: 0.5;
    cursor: default;
  }
}
