.dropdown {
  position: absolute;
  top: 100%;
  z-index: 200;

  &__image {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 700px) {
  .dropdown {
    width: 100vw;
    left: 0;
    top: 0;
  }
}
