.nav {
  margin: 10px 0;
  padding: 10px;
  background-color: var(--color-block);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius-large);
}
