.content {
  display: flex;
  gap: 20px;
  margin: 20px 0;

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 700px) {
      &__title {
        margin-left: 10px;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-block);
  border-radius: var(--border-radius-large);
  padding: 10px;
}
