.nav {
  width: 33vw;
  max-width: 300px;
  min-width: 200px;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
  }

  &__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__footer {
    width: 100%;
    display: flex;
    gap: 5px;
  }
}
