.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid var(--color-element);
  border-radius: var(--border-radius-small);
}

.input {
  width: 100%;
  text-decoration: none;
  color: var(--color-text-base);
  outline: none;
  border: none;
}
